<nav class="navbar navbar-dark bg-primary">
	<a class="navbar-brand" href="/person/index">Home</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	
  </nav>

<div class="container" style="padding:20px;">
	<h1 style="text-align:center;">
		<a href="/person/index"> Test FullStack TAP </a>
	</h1>
	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>